@use './variables' as *;

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $bg-primary;
    color: $text-primary;
    font-family: $font-sans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
    font-family: $font-serif;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: inherit;
    transition: opacity 0.2s ease;

    &:hover {
        opacity: 0.8;
    }
}

main {
    width: 100%;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
}